<!-- display_article? and latest_article are CategoryHelper methods -->

<div class="main-grid">
  <% if display_article?(@top_article) %>
    <div class="top-article">
      <div class="card rounded-0 text-white" style="background:linear-gradient(rgba(0,0,0,30%),rgba(0,0,0,30%)),url('<%= @top_article.image.service_url %>') no-repeat top center;">
        <h5 class="card-title">
          <%= link_to @top_article.title, @top_article %>
        </h5>
        <p class="card-text"><%= truncate(@top_article.text,length: 100) %></p>
      </div>
    </div>
  <% end %>

  <div class="category-container">
    <% @categories.each do |category| %>
      <% article = latest_article(category) %>
        <% if display_article?(article) %>
          <div class="category col-3 rounded-0 text-white " style="background:linear-gradient(rgba(0,0,0,25%),rgba(0,0,0,25%)),url('<%= article.image.service_url %>') no-repeat center center;">
            <h5 class="card-title">
              <%= link_to category.name, category %></h5>
            <p class="card-text"><%= article.title %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
