<% @category_articles.each do |article| %>
<div class="card">
  <p> <%= article.votes.count %> </p>
  <p> <%= article.title%> </p>
  <p> <%= article.author.name %> </p>
  <p> <%= time_ago_in_words article.created_at %> ago </p>
  <%= button_to  upvote_article_path(article.id), class: 'btn btn-custom' do %>
   Like <i class="bi bi-hand-thumbs-up-fill"></i>
  <% end %>
  </div>
<% end %>
